{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Financials for {{ symbol }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/financials.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js library -->

{% endblock %}

{% block body %}
<body>

    <h1>Financials for {{ symbol }}</h1>

    <div class="tables-container">
        <!-- Income Statement Table -->
        <div class="table-wrapper">
            <h2>Income Statement</h2>
            <p class="note">Numbers in millions</p>
            <table>
                <thead>
                    <tr>
                        <th>Field</th>
                        {% for report in income_reports %}
                            <th>{{ report.fiscal_date_ending }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Total Revenue</td>{% for report in income_reports %}<td>{{ report.total_revenue|millions }}</td>{% endfor %}</tr>
                    <tr><td>Cost of Revenue</td>{% for report in income_reports %}<td>{{ report.cost_of_revenue|millions }}</td>{% endfor %}</tr>
                    <tr><td>Gross Profit</td>{% for report in income_reports %}<td>{{ report.gross_profit|millions }}</td>{% endfor %}</tr>
                    <tr><td>Net Income</td>{% for report in income_reports %}<td>{{ report.net_income|millions }}</td>{% endfor %}</tr>
                    <tr><td>Basic Average Shares</td>{% for report in income_reports %}<td>{{ report.basic_average_shares|millions }}</td>{% endfor %}</tr>
                    <tr><td>Basic EPS</td>{% for report in income_reports %}<td>{{ report.basic_eps }}</td>{% endfor %}</tr>
                    <tr><td>Operating Expense</td>{% for report in income_reports %}<td>{{ report.operating_expense|millions }}</td>{% endfor %}</tr>
                    <tr><td>EBITDA</td>{% for report in income_reports %}<td>{{ report.ebitda|millions }}</td>{% endfor %}</tr>
                    <tr><td>EBIT</td>{% for report in income_reports %}<td>{{ report.ebit|millions }}</td>{% endfor %}</tr>
                    <tr><td>Operating Income</td>{% for report in income_reports %}<td>{{ report.operating_income|millions }}</td>{% endfor %}</tr>
                </tbody>
            </table>
        </div>

        <!-- Balance Sheet Table -->
        <div class="table-wrapper">
            <h2>Balance Sheet</h2>
            <p class="note">Numbers in millions</p>
            <table>
                <thead>
                    <tr>
                        <th>Field</th>
                        {% for report in balance_reports %}
                            <th>{{ report.fiscal_date_ending }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Total Assets</td>{% for report in balance_reports %}<td>{{ report.total_assets|millions }}</td>{% endfor %}</tr>
                    <tr><td>Total Liabilities</td>{% for report in balance_reports %}<td>{{ report.total_liabilities_net_minority_interest|millions }}</td>{% endfor %}</tr>
                    <tr><td>Total Equity</td>{% for report in balance_reports %}<td>{{ report.total_equity_gross_minority_interest|millions }}</td>{% endfor %}</tr>
                    <tr><td>Net Tangible Assets</td>{% for report in balance_reports %}<td>{{ report.net_tangible_assets|millions }}</td>{% endfor %}</tr>
                    <tr><td>Common Stock Equity</td>{% for report in balance_reports %}<td>{{ report.common_stock_equity|millions }}</td>{% endfor %}</tr>
                    <tr><td>Long Term Debt</td>{% for report in balance_reports %}<td>{{ report.long_term_debt|millions }}</td>{% endfor %}</tr>
                    <tr><td>Working Capital</td>{% for report in balance_reports %}<td>{{ report.working_capital|millions }}</td>{% endfor %}</tr>
                    <tr><td>Total Capitalization</td>{% for report in balance_reports %}<td>{{ report.total_capitalization|millions }}</td>{% endfor %}</tr>
                    <tr><td>Cash and Cash Equivalents</td>{% for report in balance_reports %}<td>{{ report.cash_and_cash_equivalents|millions }}</td>{% endfor %}</tr>
                    <tr><td>Retained Earnings</td>{% for report in balance_reports %}<td>{{ report.retained_earnings|millions }}</td>{% endfor %}</tr>
                </tbody>
            </table>
        </div>

        <!-- Cash Flow Statement Table -->
        <div class="table-wrapper">
            <h2>Cash Flow Statement</h2>
            <p class="note">Numbers in millions</p>
            <table>
                <thead>
                    <tr>
                        <th>Field</th>
                        {% for report in cashflow_reports %}
                            <th>{{ report.fiscal_date_ending }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Free Cash Flow</td>{% for report in cashflow_reports %}<td>{{ report.free_cash_flow|millions }}</td>{% endfor %}</tr>
                    <tr><td>Repayment of Debt</td>{% for report in cashflow_reports %}<td>{{ report.repayment_of_debt|millions }}</td>{% endfor %}</tr>
                    <tr><td>Issuance of Debt</td>{% for report in cashflow_reports %}<td>{{ report.issuance_of_debt|millions }}</td>{% endfor %}</tr>
                    <tr><td>Issuance of Capital Stock</td>{% for report in cashflow_reports %}<td>{{ report.issuance_of_capital_stock|millions }}</td>{% endfor %}</tr>
                    <tr><td>Capital Expenditure</td>{% for report in cashflow_reports %}<td>{{ report.capital_expenditure|millions }}</td>{% endfor %}</tr>
                    <tr><td>Interest Paid</td>{% for report in cashflow_reports %}<td>{{ report.interest_paid_supplemental_data|millions }}</td>{% endfor %}</tr>
                    <tr><td>Income Tax Paid</td>{% for report in cashflow_reports %}<td>{{ report.income_tax_paid_supplemental_data|millions }}</td>{% endfor %}</tr>
                    <tr><td>End Cash Position</td>{% for report in cashflow_reports %}<td>{{ report.end_cash_position|millions }}</td>{% endfor %}</tr>
                    <tr><td>Beginning Cash Position</td>{% for report in cashflow_reports %}<td>{{ report.beginning_cash_position|millions }}</td>{% endfor %}</tr>
                    <tr><td>Effect of Exchange Rate Changes</td>{% for report in cashflow_reports %}<td>{{ report.effect_of_exchange_rate_changes|millions }}</td>{% endfor %}</tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
{% endblock %}
